:root {
	--px-3xl: 0 55px;
	--px-lg: 0 36px;
	--px-sm: 0 22px;

	--c-black: #161616;
	--c-orange: #f9af15;
	--c-gray: #dddddd;
}

* {
	box-sizing: border-box;
}

html {
	::-webkit-scrollbar-thumb {
		background-color: #f9af15;
		border-radius: 32px;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: #fafafa;
	}
}
body {
	margin: 0;
	background-color: #fafafa;
	font-family: Inter;
}

a {
	text-decoration: none;
	/* color: var(--c-black); */
}

#app {
	max-width: 1920px;
	min-height: 100dvh;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
}

.hover {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.margin-glob {
	margin: var(--px-3xl);
	margin-bottom: 20px;

	@media (max-width: 1240px) {
		margin: var(--px-lg);
		margin-top: 20px;
		margin-bottom: 15px;
	}

	@media (max-width: 640px) {
		margin: var(--px-sm);
		margin-top: 12px;
		margin-bottom: 10px;
	}
}

.title-glob {
	font-size: 65px;
	font-weight: 600;
	line-height: 80px;

	@media (max-width: 1240px) {
		font-size: 45px;
		line-height: 60px;

	}

	@media (max-width: 640px) {
		font-size: 30px;
		line-height: 40px;

	}
}

.orange {
	color: var(--c-orange);
}
